body{
    background-image: url('./images/background.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.drum-selector{
    text-align: center;
    margin-bottom: 50px;
}
.drum-selector select{
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
}

.drum-items{
    justify-content: center;
    align-items: center;
}
.drum-items .drum-group{
    margin: 10px auto;
    width: fit-content;
}
.drum-items .drum-group h3{
    color: black;
    text-align: center;
}
.drum-items .item{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    min-width: 150px;
}
.drum-items .item .shortcut{
    font-size: 12px;
}
.drum-items .item:hover{
    cursor: pointer;
}
.drum-items .item:active{
    background-color: rgba(0, 0, 0, 1);
}